<a href="https://colab.research.google.com/github/thiago2608santana/Natural_Language_Processing_with_Python/blob/main/Text_Classification_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
df = pd.read_csv('/content/drive/MyDrive/NLP_with_Python_Datasets/moviereviews2.tsv', sep='\t')

In [9]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [10]:
df.isnull().sum()

label      0
review    20
dtype: int64

In [11]:
df.dropna(inplace = True)

In [12]:
blanks = []

# (index, label, review text)
for i, lb, rv in df.itertuples():
  if rv.isspace():
    blanks.append(i)

In [16]:
df['label'].value_counts()

pos    2990
neg    2990
Name: label, dtype: int64

# Train test split

In [17]:
X = df['review']
y = df['label']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [19]:
text_clf = Pipeline([('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [20]:
text_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [21]:
predictions = text_clf.predict(X_test)

In [22]:
print(confusion_matrix(y_test, predictions))

[[821  78]
 [ 58 837]]

In [23]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         neg       0.93      0.91      0.92       899
         pos       0.91      0.94      0.92       895

    accuracy                           0.92      1794
   macro avg       0.92      0.92      0.92      1794
weighted avg       0.92      0.92      0.92      1794

In [24]:
print(accuracy_score(y_test, predictions))

0.9241917502787068